<!DOCTYPE html>
<html lang="en">
<head>
  <title>Acerca de</title>
</head>
<body style="background-color:blanchedalmond;">
  <nav>
    {% include "BarraNavegacion.html" %}
  </nav>
  <h3 style="text-align: center;"><b> <ins>  Misión y visión: </ins></b></h3> <br>
  <p style="text-align: justify ;"> <em> Disminuir la cantidad de animales no castrados mediante castraciones masivas y gratuitas. Alcanzar
    una mejora significativa en la calidad de vida de todos los animales de nuestra ciudad, abarcando
    también localidades aledañas.
    Generar una red de adopción por todo nuestro territorio, que permita reducir la gran población de
    animales callejeros.</em> 
  </p>
  <h3> <ins> <b>  Objetivos: </b></ins> </h3> 
  <p><b><mark> ✓</mark></b> <em>Que los animales alcancen una mejor calidad de vida. </em></p>
  <p><b><mark> ✓</mark></b> <em> Garantizar el acceso a las castraciones.</em></p>
  <p><b><mark>✓</mark></b> <em> Concientizar acerca de la tenencia responsable.</em></p>
  <p><b><mark>✓</mark></b> <em> Difundir información sobre los efectos negativos de la pirotecnia.</em></p>
  <p><b><mark>✓</mark></b> <em> Insistir a los organismos correspondientes, en el debate sobre la utilización
  de carros de caballos como medio de carga.</em></p> 

  <h3 style="text-align: center;"><b> <ins> Integrantes: </ins></b></h3>
  <p ><b><address style="text-align: center;"> &#9792; María Goi &#8212; &#9792; Marilu Giuggia &#8212; &#9792; Ana Bogado &#8212; &#9792; Lorena Gomez &#8212; &#9792; Carla Acosta &#8212; &#9794; Ariel Darocas &#8212; &#9792; Juana Goya &#8212; </address></b></p>
  <p><b> <address style="text-align: center;">&#9792; Marcela Iznardo &#8212; &#9792; Gladis Fernández &#8212; &#9792; Rosana Santos &#8212; &#9792; Laura Avalle &#8212; &#9792; Fabiana Rolhaiser &#8212; &#9792; Susana Sosa &#8212; </address></b></p>
    
</body>
</html>