<html>
    <body>
        <ul>
            <li><a href=/inicio>Inicio</a></li>
            <li><a href=/contacto>Contactos</a></li>
            <li><a href=/acercade>Acerca de</a></li>
        
            {% if user.is_authenticated %}
                <li><p>{{user.username}}</p></li>
                <li><a class="nav-wrapper" href=/logout>Cerrar Sesion</a></li>
            {% else %}
                <li><a href=/login>Iniciar Sesion</a></li>
            {% endif %}
            
            <li><a href=/register>Registrarse</a></li>    
            <li><a href="{% url 'publicar' %}" >Publicar</li></a>

        </ul>
    </body>

    <!--usar { % include "BarraNavegacion.html" %}  para agregar menu-->
</html>
