<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/estilo.css" />
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li><a class="active" href="{% url 'Pagina de inicio' %}"><i class="fa fa-fw fa-home"></i>Inicio</a></li>
                <li><a onclick="bottomFunction()" id="myBtn" title="Contactos"><i class="fa fa-fw fa-search"></i>Contacto</a></li>
                <li><a href="{% url 'Acerca de' %}"><i class="fa fa-fw fa-envelope"></i> Acerca de</a></li>

                {% if user.is_authenticated %}
                <li><a><i class="fa fa-fw fa-search"></i>{{user.username}}</a></li>
                <li><a class="nav-wrapper" href="{% url 'logout' %}"><i class="fa fa-fw fa-search"></i>Cerrar Sesion</a></li>

                {% else %}
                <li><a href="{% url 'login' %}"><i class="fa fa-fw fa-user"></i>Iniciar Sesion</a></li>
                {% endif %}

                <li><a href="{% url 'register' %}"><i class="fa fa-globe"></i> Registrarse</a></li>

                <a href="{% url 'Pagina de inicio' %}" class="brand-logo right">Amo los Perros</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                </ul>
            </ul>
        </div>
    </nav>
</body>


<!--usar { % include "BarraNavegacion.html" %}  para agregar menu-->

<script>
    let mybutton = document.getElementById("myBtn");
    function bottomFunction() {
      window.scrollTo(0, document.body.scrollHeight);
    }
</script>