<html>

<head>
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="css/estilo.css" />
   <style>
      footer {
         text-align: center;
         padding: 3px;
         background-color: Gray;
         color: white;
      }
   </style>
   <!-- Add icon library -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   <nav>
      <div class="nav-wrapper">
         {% include "BarraNavegacion.html" %}
         <ul id="nav-mobile" class="left hide-on-med-and-down">
         </ul>
      </div>
   </nav>
   <div class="container">
      <h1 class="center-align">Noticias</h1>
   </div>
   <div class="container">
      <div class="row">
         {% for post in posts %}
         <div class="col s12 m4">
            <div class="card ">
               <div class="card-content ">
                  <span class="card-title"> {{ post.title }}</span>
                  <p>{{ post.preview }}</p>
               </div>
               <div class="card-action">
                  <a href="/post/{{ post.id }}">Leer más</a>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>

      {% if user.is_superuser or user.es_admin %}
      <a class="button right" href="{% url 'publicar' %}">Publicar</a>
      {% endif %}
      <br></br>

   </div>
   <footer>
      <h4>Contacto</h4>
      <li>Correo: cotelaichaco@gmail.com</li>
      <li>Celular: 3644308298</li>
      <li>Redes Sociales:</li>
      <a target="blank" href="https://www.facebook.com/groups/380502425339061">Facebook</a>
      <a target="blank" href="https://www.instagram.com/amo_los_perros_sp/">Instagram</a>
      <br></br>
      <!-- Add font awesome icons -->
      <!-- <a target="blank" href="https://www.facebook.com/groups/380502425339061" class="fa fa-facebook"></a>
      <a target="blank" href="https://www.instagram.com/amo_los_perros_sp/" class="fa fa-instagram"></a> -->
   </footer>
   <!--JavaScript at end of body for optimized loading-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>

</html>